<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Author</title>
	<link rel="stylesheet" href="styles.scss">
	<script src="redirect.js"></script>
</head>
<body>
	<div id="root">
		<p><a href="../main/main.html">AA</p>
		<p style="font-size: 200;">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
	</div>
</body>
</html>