---
id: "root"
title: "ura"
---
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    </head>
    <title>{{title}}</title>
    <body>
        <div id={{id}}>
        <script src="ura.js"></script>
    </body>
</html> 